@charset "utf-8";
section.coutryList-container {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: space-between;
    margin-top: 50px;
    min-height: 100vh;
}

.coutryFilterContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

article.coutryItem {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

img.coutryImg {
    width: 100%;
    max-width: 100%;
    height: 190px;
    object-fit: cover;
}

ul.coutryItemInfo {
    padding: 10px 0px 30px 20px;
}

ul.coutryItemInfo h2 {
    line-height: 100%;
    margin: 10px 0px 20px 0px;
}

ul.coutryItemInfo li {
    font-weight: 800;
    text-transform: capitalize;
}

ul.coutryItemInfo li span {
    font-weight: 300;
}